{% load static %}

<!DOCTYPE html>
<html>
<head>

    <title>Clustering Visualization</title>
    <script src="{% static 'js/jquery.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-grid.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-reboot.css' %}" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

{#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
{#            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{##}
{#    <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#        <ul class="navbar-nav mr-auto">#}
{##}
{##}
{#            <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"#}
{#                   aria-haspopup="true" aria-expanded="false">#}
{#                    Dropdown#}
{#                </a>#}
{#                <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                    <a class="dropdown-item" href="#">Action</a>#}
{#                    <a class="dropdown-item" href="#">Another action</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                    <a class="dropdown-item" href="#">Something else here</a>#}
{#                </div>#}
{#            </li>#}
{##}
{#        </ul>#}
{#    </div>#}
</nav>
<br/>
<div class="container" style="margin-left: 0">
    <div class="dropdown" style="display: inline">
          <button class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Algorithm
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button type="button" id="kmeans" class="dropdown-item">Kmeans</button>
            <button type="button" id="dbscan" class="dropdown-item">DBscan</button>
          </div>
    </div>
    <div id="myDiv" style="display: inline-block"><!-- Plotly chart will be drawn inside this DIV --></div>

</div><!--/.container-->

<div id="parameters">
</div>

<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/graph.js' %}"></script>

</body>
</html>