{% load static %}
{#{% load nvd3_tags %}#}

<!DOCTYPE html>
<html>
<head>

    <title>Clustering Visualization</title>
    <script src="{% static 'js/jquery.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-grid.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-reboot.css' %}" rel="stylesheet">
    {#    <link media="all" href="{% static 'nvd3/build/nv.d3.css' %}" type="text/css" rel="stylesheet"/>#}
    {#    <script type="text/javascript" src='{% static 'd3/d3.js' %}' charset="utf-8"></script>#}
    {#    <script type="text/javascript" src='{% static 'nvd3/build/nv.d3.js' %}'></script>#}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    {#    {% load_chart charttype chartdata "scatterchart_container" %}#}


</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

{#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
{#            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{##}
{#    <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#        <ul class="navbar-nav mr-auto">#}
{##}
{##}
{#            <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"#}
{#                   aria-haspopup="true" aria-expanded="false">#}
{#                    Dropdown#}
{#                </a>#}
{#                <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                    <a class="dropdown-item" href="#">Action</a>#}
{#                    <a class="dropdown-item" href="#">Another action</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                    <a class="dropdown-item" href="#">Something else here</a>#}
{#                </div>#}
{#            </li>#}
{##}
{#        </ul>#}
{#    </div>#}
</nav>
<br/>
<div class="container" style="margin-left: 0">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <a href="#" class="list-group-item active">Link</a>
                <a href="#" class="list-group-item">Link</a>
            </div>
        </div><!--/span-->
        <div class="col-12 col-md-9">
            <p class="float-right hidden-md-up">
            </p>
            {#            {% include_container "scatterchart_container" 800 1200 %}#}
        </div><!--/span-->
    </div><!--/row-->
    <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>

</div><!--/.container-->

<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/graph.js' %}"></script>

</body>
</html>